main{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.registration-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    box-shadow: 10px 10px var(--text-primary);
    border: 1px solid var(--text-primary);
    border-radius: 2px;
    padding: 2em;
}

input[type="text"]{
    border: 1px solid var(--text-accent);
    border-radius: 4px;
}

.button-container{
    margin-top: 1em;
}

