__pycache__
.idea/
*.DS_Store
staticfiles/
*.log
/logs/*
config/secrets/secrets.json
/static/js/react/*
!/static/js/react/react_output.md
/react_app/node_modules/*
/react_app/package-lock.json
jsconfig.json
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.venv
/config/secrets/.env-react
react_app/src/components/utils/json_forms/*
react_app/src/data/rendered_forms/*
/tmp