{% extends 'base_template_engage.html' %}

{% block content %}
    
    <div>
        <p class="user-name">Dear {{user.get_full_name}}</p>
        <p>
            We have received a password reset request for the account associated with the email {{ user.email }}. 
            If this was initiated by you, please proceed to reset your password using the link provided below. 
            However, if you did not request this change, please inform the administrator immediately to investigate further.
        </p>
        <a target="_blank" href="{{ protocol }}://{{ domain }}{% url 'auth_app:reset_password_confirm' uidb64=uid token=token %}">Reset password</a>

        <p>Thank you,</p>
        <p>Engage</p>
    </div>

{% endblock %}
