{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/slimselect/slimselect.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/slimselect/slimselect_custom.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/projects_filters.css' %}">

<div class="filters-container">
    <form id="filters-form">
        <div class="search-div filter-div">
            <div class="filter-label">
                <i class="fas fa-search"></i>
                <label for="search">Search</label>
            </div>
            <div class="search-bar">
                <input id="search" type="text"  name="search" class="search-value" placeholder="Search here">
            </div>
        </div>
        <div class="sort-by-div">
            <div class="filter-label">
                <i class="fas fa-sort-amount-down-alt"></i>
                <label for="sort-by">Sort by</label>
            </div>
            <select id="sort-by" name="sort-by">
                <option value="alphabetical">Alphabetical</option>
                <option value="role">Role</option>
                <option value="location">Location</option>
            </select>
        </div>
    </form>
</div>

<script src="{% static 'js/slimselect/slimselect.min.js' %}"></script>
