<div class="modal" role="dialog" id="research-information-sheet-approval-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <ul class="modal-header-tab-list" data-modal="research-information-sheet-approval-modal">
                <li class="modal-tab-list-item active" data-tab="research-information-sheet-tab">
                    <u><strong>IC4U Information Letter</strong></u>
                </li>
            </ul>
            <div class="modal-body scrollable-content">
                <div class="modal-tab-content" id="research-information-sheet-tab">
                    <div id="information-sheet">
                        You are being invited to participate in a research study to help us design a website for patient
                        engagement in critical care research in Canada. The goal of this study is to help us design and
                        improve the IC4U website.
                        <br><br>
                        You are being invited because: (1) you were previously admitted to an ICU in Canada, (2) you or
                        a member of your family was previously admitted to an ICU in Canada, or (3) you are a researcher
                        who focused on critical care in Canada.
                        <br><br>
                        Taking part in this study is voluntary. Your decision to participate or not in this study will
                        not affect the care you receive at any hospital in Canada, or your employment at any hospital in
                        Canada. You are free to withdraw from the study at any time and there will be no penalty to you
                        or your family. We expect to invite approximately 200 people to participate.
                        <br><br>
                        <strong>What is expected and how long it would take to complete:</strong> For this study, you
                        would first need to create an account on the IC4U website. Once you sign-up on the website, you
                        will be invited to participate in a survey and/or to participate in an interview to give your
                        feedback about the website or your experience working with researchers on the website.
                        <br><br>
                        In the future, as an account member of the IC4U website, you may be invited to participate in
                        different engagement activities. This may include things like: reading study documents and
                        giving your feedback to the research team; or helping researchers choose the research question
                        for their next study; or helping researchers decide the best way to collect data from patients
                        in a new study. You can choose to participate in as many of these activities as you would like,
                        or you can decide not to participate in any.
                        <br><br>
                        The survey will not ask you for any identifying information and will be anonymous. During the
                        interview, we will not record any identifying information about you. If we publish or present
                        the study results, we will not use any identifying information about you. We will keep all
                        survey and interview data on a password-protected computer at the CHEO Research Institute or at
                        Algonquin College. Following completion of the research study the data will be kept for 7 years
                        after the last publication of this study. They will then be destroyed.
                        <br><br>
                        You may be asked in the future to participate in an engagement activity, or to participate in a
                        survey or interview on more than one occasion. Participation is always voluntary. You can decide
                        to delete your account on the IC4U platform at any time. You can also decide to keep your
                        account, and not participate in any activities or surveys or interviews.
                        <br><br>
                        You may or may not directly benefit from the study. However, your input and perspective would be
                        of tremendous value to us. We do not anticipate any risks from this study. Once the study is
                        complete, we will share a summary of the study results with all of the participants who are
                        signed up on the IC4U website.
                        <br><br>
                        <u><strong>Your consent will be implied when you sign-up on the IC4U website.</strong></u>
                        <br><br>
                        Please feel free to contact Katie O’Hearn at <a href="mailto:kohearn@cheo.on.ca">kohearn@cheo.on.ca</a>
                        or <a href="tel:+1613-737-7600">+1613-737-7600 ext. 4006</a> if you have any questions.
                        <br><br>
                        Your assistance with this research is greatly appreciated. Thank you for your time and
                        consideration.
                    </div>
                </div>
            </div>
            <div class="modal-footer align-right">
                <button class="action main modal-tab-list-item modal-exit-button">Close</button>
            </div>
        </div>
    </div>

</div>

