.ss-value {
    font-size: 14px !important;
}

.ss-value-delete {
    font-size: 16px;
}

.ss-multi-selected {
    border-radius: var(--border-radius) !important;
}

.ss-content.ss-open {
    border-radius: var(--border-radius);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.ss-content .ss-list .ss-option.ss-disabled {
    background-color: unset;
}
