{% extends 'base/navigation.html' %}
{% load static %}
{% load auth_filters %}
{% load get_item %}

{% block imports %}
    <link rel="stylesheet" href="{% static 'css/tables.css' %}">
{% endblock %}

{% block content %}
    <div class="section">
        <ul class="content-list">
            <li class="content-list-item">
                <div class="content-card">
                    <div class="card-header">
                        <p class="card-notification active">Created At: {{ research_task.created_at }}</p>
                        <p class="card-title">{{ research_task.title }}</p>
                    </div>
                    <div class="card-content">
                        {{ research_task.description }}
                        Assigned Users:
                        <em>
                            {% for assignee in assigned_users %}
                                {% if forloop.last %}
                                    {{ assignee }}
                                {% else %}
                                    {{ assignee }},
                                {% endif %}
                            {% endfor %}
                        </em>
                    </div>
                    <div class="card-footer">
                        <div class="user-profile-avatar small">
                            <div class="profile-picture-container">
                                <img class="profile-picture" alt="profile avatar"
                                     src="{% url 'engage_app:get_public_profile_picture' username=research_task.task_creator.username %}"
                                >
                            </div>
                            <p class="username">{{ research_task.task_creator.first_name }} {{ research_task.task_creator.last_name }}</p>
                            <p class="title">{{ research_task.task_creator.id|get_user_role }} - Task Reporter</p>
                        </div>
                        <div class="card-actions">
                            {% if permissions.is_active %}
                                <a href="{% url 'communication_app:research_project_discussion_boards' research_project_id=research_project.id task_id=research_task.id %}">
                                    <button type="submit"
                                            class="main action full-button"
                                            id="view-discussion-board-button">
                                        View Discussion Boards ({{ discussion_board_count }})
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="section">
        <ul class="content-list">
            <li class="content-list-item">
                <div class="content-card">
                    <div class="card-header">
                        <p class="card-title">Protocol Files ({{ protocol_files|length }})</p>
                    </div>
                    <div class="card-content">
                        <table class="full-table" id="protocol-files-table">
                            <thead>
                            <tr>
                                <th>File</th>
                                <th>Upload Date</th>
                                <th>Uploaded By</th>
                                <th>Type</th>
                                <th>Download</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for file in protocol_files %}
                                <tr>
                                    <td>
                                        {{ file.title }}
                                    </td>
                                    <td>{{ file.created_at }}</td>
                                    <td>{{ file.uploader_name }}</td>
                                    <td>{{ file.file_type }}</td>
                                    <td class="text-centre table-link">
                                        <a href="{% url 'engage_app:download_protocol_file' file_id=file.file_id %}">
                                            <i class="fas fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        {# Only allow lead researchers or creators to upload protocol files #}
                        {% if permissions.is_lead_researcher_or_creator %}
                            <div class="card-actions">
                                {% if permissions.is_active and research_task.task_creator.id == current_user_profile.user.id %}
                                    {# Upload Protocol File Form #}
                                    {% include 'base/form_modal.html' with form_name="upload-protocol-file-form" form=task_file_form verbose_form_name="Upload a New Protocol File" form_action=file_form_action %}
                                    <button type="submit" data-trigger="customize-upload-protocol-file-form-modal"
                                            class="modal-trigger-button main action"
                                            id="upload-protocol-file-button">
                                        Upload Protocol File
                                    </button>
                                    {# Assign user to Task Form #}
                                    {% include 'base/form_modal.html' with form_name="assign-user-to-task-form" form=assign_user_form verbose_form_name="Assign a User to this Task" form_action=assign_user_form_action %}
                                    <button type="submit" data-trigger="customize-assign-user-to-task-form-modal"
                                            class="modal-trigger-button main action"
                                            id="assign-user-to-task-button">
                                        Assign a User to this Task
                                    </button>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="section">
        <ul class="content-list">
            <li class="content-list-item">
                <div class="content-card">
                    <div class="card-header">
                        <p class="card-title">User Submitted Files ({{ user_submitted_files|length }})</p>
                    </div>
                    <div class="card-content">
                        <table id="user-submitted-files-table">
                            <thead>
                            <tr>
                                <th>File</th>
                                <th>Submission Date</th>
                                <th>Submitted By</th>
                                <th>Type</th>
                                <th>Download</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for file in user_submitted_files %}
                                <tr>
                                    <td>
                                        {{ file.title }}
                                    </td>
                                    <td>{{ file.created_at }}</td>
                                    <td>{{ file.uploader_name }}</td>
                                    <td>{{ file.file_type }}</td>
                                    <td class="text-centre table-link">
                                        <a href="{% url 'engage_app:download_protocol_file' file_id=file.file_id %}">
                                            <i class="fas fa-download"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        {% if permissions.is_active %}
                            <div class="card-actions">
                                {% include 'base/form_modal.html' with form_name="upload-task-file-form" form=user_file_form verbose_form_name="Submit Your Task File" form_action=file_form_action %}
                                {% if permissions.is_active and research_task.task_creator.id == current_user_profile.user.id %}
                                    <button type="submit" data-trigger="customize-upload-task-file-form-modal"
                                            class="modal-trigger-button main action"
                                            id="submit-task-file-button">
                                        Submit Task File
                                    </button>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </li>
        </ul>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'js/research_project/research_project_task_details.js' %}"></script>
{% endblock %}
