.user-profile-resume-header .ant-collapse-header {
    align-items: center !important;
    justify-content: center !important;
}

.private-edi-settings {
    background-color: #FF000034 !important;
}
